@model SoccerMatches_revised.Models.SoccerMatch
@{
    ViewBag.Title = "Update Soccer Match";
}

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="FirstTeam"></label>
        <div><span asp-validation-for="FirstTeam" class="text-danger"></span></div>
        <input asp-for="FirstTeam" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FirstTeamGoals"></label>
        <div><span asp-validation-for="FirstTeamGoals" class="text-danger"></span></div>
        <input asp-for="FirstTeamGoals" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SecondTeam"></label>
        <div><span asp-validation-for="SecondTeam" class="text-danger"></span></div>
        <input asp-for="SecondTeam" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SecondTeamGoals"></label>
        <div><span asp-validation-for="SecondTeamGoals" class="text-danger"></span></div>
        <input asp-for="SecondTeamGoals" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <div><span asp-validation-for="Date" class="text-danger"></span></div>
        <input asp-for="Date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Stadium"></label>
        <div><span asp-validation-for="Stadium" class="text-danger"></span></div>
        <input asp-for="Stadium" class="form-control" />
    </div>

    <br>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}
