@model SoccerMatches_revised.Models.Match
@{
    ViewBag.Title = "Update Soccer Match";
}

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="matchid" />

    <div class="form-group">
        <label asp-for="first_team"></label>
        <div><span asp-validation-for="first_team" class="text-danger"></span></div>
        <input asp-for="first_team" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="first_team_goals"></label>
        <div><span asp-validation-for="first_team_goals" class="text-danger"></span></div>
        <input asp-for="first_team_goals" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="second_team"></label>
        <div><span asp-validation-for="second_team" class="text-danger"></span></div>
        <input asp-for="second_team" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="second_team_goals"></label>
        <div><span asp-validation-for="second_team_goals" class="text-danger"></span></div>
        <input asp-for="second_team_goals" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="date"></label>
        <div><span asp-validation-for="date" class="text-danger"></span></div>
        <input asp-for="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="stadium"></label>
        <div><span asp-validation-for="stadium" class="text-danger"></span></div>
        <input asp-for="stadium" class="form-control" />
    </div>

    <br>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}
